<div class="mission-section">
  <div class="mission-text">
    <h1>Notre mission</h1>
    <p>Chez CamelSoft LLC, notre mission est de fournir des solutions technologiques innovantes et personnalisées.</p>

    <ul class="mission-list">
      <li>Innover : Développer des technologies de pointe.</li>
      <li>Collaborer : Travailler en étroite collaboration avec nos clients.</li>
      <li>Évoluer : Offrir des services évolutifs.</li>
      <li>Supporter : Fournir un support exceptionnel et des solutions durables.</li>
    </ul>

    <p>Nous croyons que la technologie peut transformer les entreprises et améliorer les vies.</p>
  </div>
  <div class="mission-image">
    <img src="assets/images/mission-img.png"  width="100px" height="50px" alt="Description de l'image">
  </div>
</div>
<div class="about-section">
  <div class="about-image">
    <img src="assets/images/Apropos_im2.png" alt="Image de l'entreprise">
  </div>
  <div class="text-container">
    <h2>Qui sommes-nous?</h2>
    <p>Fondée en 2018 et établie à Tataouine, Sousse et en Arabie Saoudite, CamelSoft LLC est une entreprise spécialisée dans le développement de solutions logicielles sur mesure.</p>
    <p>Nous nous engageons à fournir des services technologiques innovants qui répondent précisément aux besoins diversifiés de nos clients. Notre expertise nous permet d'offrir des solutions personnalisées de haute qualité, adaptées aux défis spécifiques rencontrés par chaque client.</p>
  </div>
</div>

