<footer class="footer">
  <div class="footer-area pt-100 pb-20">
    <div class="footer-style-4">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="contact-area">
              <ul>
                <li>
                  <h2>Contact</h2>
                </li>

                <li>
                  <img src="/src/assets/images/location-01.png" alt="">

                  <p>4001 Hammam sousse, Sousse</p>
                </li>
                <li>
                  <img src="../../assets/images/mail.png" alt="">

                  <p>Email: <a href="info@camel-soft.com / admin@camel-soft.com">infocamel-soft.com /
                    admincamel-soft.com</a></p>
                </li>
                <li>
                  <img src="../../assets/images/phone-call (1)-01.png" alt="">

                  <p>Téléphone: <a href="tel:+21693831879">+21693831879</a></p>
                </li>
                <li>
                  <img class="logo" src="../../assets/images/Logo.png" alt="Description de l'image">

                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-5">

              <div id="map" style="height: 4vw; width: 2vw;"></div>


          </div>
          <div class="col-md-2">
            <div class="social-icons">
              <div><a href="#"><i class="fab fa-linkedin"></i></a></div>
              <div><a href="#"><i class="fab fa-twitter"></i></a></div>
              <div><a href="#"><i class="fab fa-facebook"></i></a></div>
              <div><a href="#"><i class="fab fa-instagram"></i></a></div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="footer-copyright-area">
      <div class="footer-copyright-wrapper">
        <div class="footer-copyright-text text-center">
          <p class="mb-0">©Copyright2021.Camelsoft LCC </p>
        </div>
      </div>
    </div>
  </div>
</footer>
