<div class="Home">
  <div class="welcome-section">
    <img class="im1" src="/assets/images/D_im1.png" alt="image">
    <div class="text-column">
    <h4 class="MontserratBold">Bienvenue sur le site d'emploi de CamelSoft</h4>
    <h1>Faites Avancer Votre Carrière avec Nous</h1>
    <p class="MontserratR">Rejoignez une entreprise leader dans le secteur IT et contribuez à des projets d'envergure mondiale. Nous recrutons des experts en développement logiciel, le développement web, l'intelligence artificielle, et gestion de projets pour renforcer notre équipe. Consultez nos offres d'emploi et postulez dès aujourd'hui pour faire partie de notre succès.</p>
    <button class="btn btn-primary" type="submit">Rejoignez notre équipe</button>
    </div>
    <img class="im2" src="/assets/images/D-im2.jpg" alt="image">
    <div class="image-column">
    <img src="/assets/images/im1_home.png" alt="image">
  </div>
</div>
  <div class="Postule">
  <img class="im2_home" src="/assets/images/im3_home.jpg" alt="image">
  <div class="postule-section">
    <h1>Postulez à Des Offres d'Emploi </h1>
    <h1>En ligne en quelques clics</h1>

    <p> Grâce à notre plateforme en ligne, trouvez les offres d'emploi adaptées à vos compétences.</p>
    <p>Postulez maintenant et commencez par un test pour valider votre candidature.</p>
    <button class="offres-button">Offres d'emploi</button>
  </div>
    <img class="im3_home" src="/assets/images/im3_home.jpg" alt="image">

  </div>

  <div class="recruitment-process">
    <h1>Notre processus de recrutement en 6 étapes</h1>
  </div>

</div>
<div class="recruitment-section">
<div class="container">
  <div class="box" (mouseenter)="afficherCercleAvecImage($event)" (mouseleave)="cacherCercle($event)">
    <img class="box-photo" src="/assets/images/proc_im3.jpg" alt="image">
    <h2>1- S’inscrire sur plateforme CamelSoft</h2>
    <p>Créez un compte sur le Plateforme et ajoutez les informations demandées, telles que vos coordonnées, votre expérience professionnelle et vos qualifications.</p>
  </div>
  <div class="box" (mouseenter)="afficherCercleAvecImage($event)" (mouseleave)="cacherCercle($event)">
    <img class="box-photo" src="/assets/images/proc_im3.jpg" alt="image">
    <h2>2- Exploration des Offres d'Emploi</h2>
    <p>Explorez nos offres d'emploi et filtrez par type de poste et compétences pour trouver les opportunités adaptées à vos objectifs professionnels.</p>
  </div>
</div>
<div class="container">
  <div class="box2" (mouseenter)="afficherCercleAvecImage($event)" (mouseleave)="cacherCercle($event)">
    <img class="box-photo" src="/assets/images/proc_im3.jpg" alt="image">
    <h2>3- Soumettre votre candidature en ligne</h2>
    <p>Créez un compte sur le Plateforme et ajoutez les informations demandées, telles que vos coordonnées, votre expérience professionnelle et vos qualifications.</p>
  </div>
  <div class="box2" (mouseenter)="afficherCercleAvecImage($event)" (mouseleave)="cacherCercle($event)">
    <img class="box-photo" src="/assets/images/proc_im3.jpg" alt="image">
    <h2>4- Test de compétences en ligne</h2>
    <p>Après avoir postulé, vous serez invité à passer un test de compétences en ligne. Ce test évalue vos connaissances et aptitudes spécifiques en relation avec le poste pour lequel vous avez postulé.</p>
  </div>
</div>
<div class="container">
  <div class="box3" (mouseenter)="afficherCercleAvecImage($event)" (mouseleave)="cacherCercle($event)">
    <img class="box-photo" src="/assets/images/proc_im3.jpg" alt="image">
    <h2>5- Entretien Personnel</h2>
    <p>Si votre candidature est retenue, vous serez contacté pour un entretien personnel. C'est l'occasion de discuter en détail de vos expériences, compétences et motivations.</p>
  </div>
  <div class="box3" (mouseenter)="afficherCercleAvecImage($event)" (mouseleave)="cacherCercle($event)">
    <img class="box-photo" src="/assets/images/proc_im3.jpg" alt="image">
    <h2>6- Offre d'Emploi</h2>
    <p>Après l'entretien, si vous êtes sélectionné, vous recevrez une offre d'emploi formelle pour rejoindre CamelSoft.</p>
  </div>
</div>
</div>
  <div class="section-container">
    <h1>Pourquoi Rejoindre CamelSoft ?</h1>
    <img class="im_bulle" src="/assets/images/D-im2.jpg" alt="Image 1">
    <img class="im_sep" src="/assets/images/Line2.jpg" alt="Image 1">
    <div class="part">
      <div class="part-content">
        <div class="image "><img class="part-image" src="/assets/images/join_im1.jpg" alt="Image 1"></div>
        <div class="separator"></div>
        <div class="part-text ">
          <p>Votre passion pour les nouvelles technologies et l’innovation</p>
        </div>
      </div>
    </div>
    <div class="part">
      <div class="part-content ">
        <div class="part-text">
          <p>Collaboration avec des équipes innovantes sur des projets technologiquement avancés.</p>
        </div>
        <div class="separator"></div>
        <div class="image"><img class="part-image" src="/assets/images/join_im2.jpg" alt="Image 2"></div>
      </div>
    </div>
    <div class="part">
      <div class="part-content">
        <div class="image"><img class="part-image" src="/assets/images/join_im3.jpg" alt="Image 3"></div>
        <div class="separator"></div>
        <div class="part-text">
          <p>Avoir des perspectives d’évolution</p>
        </div>
      </div>
    </div>
    <div class="part">
      <div class="part-content reverse">
        <div class="part-text">
          <p>Une envie de vous développer dans une structure agile</p>
        </div>
        <div class="separator"></div>
        <div class="image"><img class="part-image" src="/assets/images/join_im4.jpg" alt="Image 4"></div>
      </div>
    </div>
    <div class="sep_basse">
    <img class="im_sep2" src="/assets/images/Line2.jpg" alt="Image 1">
    <img class="im_bulle2" src="/assets/images/D-im2.jpg" alt="Image 1">
    </div>
  </div>

<div class="intro-container">
  <div class="intro-box">
    <img class="im3" src="/assets/images/Mask.png" alt="Image">
    <img class="intro-image" src="/assets/images/quot.png" alt="Intro Image">
    <p>Vous nous connaissez. </p>
    <p>Nous voulons vous connaître.</p>
    <img class="im4" src="/assets/images/D-im2.jpg" alt="Image">

  </div>
</div>

<div class="job-offer-container">
  <div class="job-offer-box">
    <h1>Vous cherchez des offres d'emploi ?</h1>
    <p>Grâce à CamelSoft, votre emploi idéal est à portée de main.</p>
    <button class="job-offer-button">Voir les offres d'emploi</button>
    <div class="im_hand"><img  src="/assets/images/Hand.jpg" alt="Image"></div>
  </div>
</div>

<div class="recommendations-section">
  <h1 class="recommendations-title">Ils Parlent De CamelSoft</h1>
  <div class="recommendations-container">
    <div class="left_quote"><img src="/assets/images/left.png" alt="Image"></div>
    <div *ngFor="let avis of avis; let i = index" [ngClass]="'recommendation-box' + (i + 1)">
      <div class="left-quotes"><img src="/assets/images/left_quote.png" alt="Image"></div>
      <p>{{ avis.texte }}</p>
      <div [ngClass]="'photo' + (i + 1)"><img [src]="avis.image" alt="Image"></div>
    </div>
    <div class="right_quote"><img src="/assets/images/right-quote.jpg" alt="Image"></div>
  </div>
</div>











